/* //////////////
 Inicio fuentes
//////////////*/

@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
/* //////////////
 Fin fuentes
//////////////*/

a:hover { text-decoration: none; }

/* //////////////
 Inicio colores
//////////////*/
:root{
    --main-bg-color: rgb(41, 80, 109);
    --main-bg-color-a: rgba(4, 32, 55, 0.7);
    --dark-blue: rgb(4, 32, 55);
    --dark-color: #1a1a1a;
    --smooth-blue: #5d8ffc;
    --dark-grey: #212121;
    --primary-color: #3a4052;
    --light-grey-color: #f5f5f5;
    --dark:#1a1a1a;
    --white: #ffffff;
}

.bgDarkGrey { background-color: var(--dark-grey); }
.bgDark { background-color: var(--dark-color); }
.bgLight { background-color: var(--white-color); }
.bgLightGrey { background-color: var(--light-grey-color); }
.colorDark { color: var(--dark-color) !important; }

.text-smooth-blue{ color: var(--smooth-blue);}
.text-orangered{color: orangered;}
.text-dark{color: var(--dark-color);}
.text-darkGrey{color: var(--dark-grey);}
.text-darkBlue{color: var(--primary-color);}
/* //////////////
 Fin colores
//////////////*/

/* //////////////
 Letra
//////////////*/

.titulos{
    padding-left: 0px;
    padding-right: 0px;
  }
  
  h1 { font-size: 66px; font-weight: 700; line-height: 80px; }
  h2 { font-size: 48px; margin-bottom: 30px; }
  h3 { font-size: 33px; }
  h5 { margin-bottom: 0px; }
  
  p {
    font-size: 18px;
    color: var(--dark-color);
    opacity: .8;
    line-height: 1.8;
    margin-bottom: 0px;
  }

  hr {
    border: 0 none #5d8ffc;
    border-top: 1px solid #5d8ffc;
    height: 1px;
    margin: 5px 0;
    display: block;
    clear: both;
    }

    .Titulo-foto1{
      max-width: 100%;
      width: 19rem;
      background-color: var(--dark-color);
    
    }
    
    .Titulo-foto2{
      max-width: 100%;
      width: 16rem;
      background-color: var(--dark-color);
    }
    
    .Titulo-foto3{
      max-width: 100%;
      width: 12rem;
      background-color: var(--dark-color);
    }
    
    .Titulo-inicio-img {
      max-width: 100%;
      width: 7rem;
      background-color: white;
    }
    
    .Titulo-inicio-img2 {
      max-width: 100%;
      width: 12.5rem;
      background-color: white;
    }
    
    .Titulo-inicio-img3 {
      max-width: 100%;
      width: 15rem;
      background-color: white;
    }
    
    .Titulo-inicio-img4 {
      max-width: 100%;
      width: 6rem;
      background-color: white;
    }

  /* /////////////////////
 Bajado suave de página
//////////////////////*/

html {
    scroll-behavior: smooth;
  }