/* //////////////
 Control de datos
//////////////*/

.main-div, .loggedin-div {
    margin: 0px auto;
    padding: 20px;
    width: 60%;
  }

  .main-div input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  
  .main-div input:focus {
    border: 1px solid #777;
  }

  .main-div select { /*Modificador del selector (cuando tengo que seleccionar el producto por ejemplo)*/
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }

  .main-div select:focus {
    border: 1px solid #777;
  }
  
  .main-div button, .loggedin-div button {
    background-color: orangered;
    color: #fff;
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  
  .main-div button:hover, .loggedin-div button:hover {
    background: #fff;
    color: orangered;
    border: 1px solid orangered;
    cursor: pointer;
  }