
/*--------------------------------- (común) Comienzo barra de navegación ----------------------------------------------*/

.Titulo-nav{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0.20em;
    color: var(--white);
}

a {
    color: var(--light);
}

a:hover {
    color: var(--light);
    text-decoration: none;
}

.zorro-blanco{         /*(común) Imagen icono nav */
    height: 50px;
    padding-right: 1em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.navbar {                        /*(común)*/ 
    background-color: var(--dark);
    min-height: 5rem;
}

.nav-link {                      /*(común) Texto navegación*/
    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white);
}
.navbar-toggler:focus { outline: none; }   /*Para que no se vea el recuadro naranja cuando alguien le da click*/

.elemento-navbar:hover{                    /*(común) le da un delay a la coloración de las palabras de la barra de navegación*/
    color: #ff6600!important;
    font-weight: 500!important;
    transition:all .5s ease-in-out!important;
}

.ele-navbar:focus{
    color: #ff6600!important;
    font-weight: 500!important;
}

.desplegable-items{
    margin-left: 2rem;
}

/*--------------------------------- (común) Fin barra de navegación ----------------------------------------------*/
/*--------------------------------- (común) Definición de colores (fondo y letra) --------------------------------*/
:root {
    --dark:#1a1a1a;
    --white: #ffffff;
    --light-grey: #efefef;
    --primary-color: #3a4052;
}

.bg-light {                       /*Color de fondo blanco*/
    background-color: var(--white) !important;
}

.bg-light-grey {                 /*Color de fondo gris claro*/
    background-color: var(--light-grey);
}

.bg-dark {                      /*Color de fondo oscuro*/
    background-color: var(--dark) !important;
}

.bg-naranja{
    background-color: #ff6600;
}

.text-dark {
    color: var(--dark) !important;
}

.texto-naranja{
    color: #ff6600;
}

.texto-azul-oscuro{
    color: var(--primary-color)
}
/*---------------------------------- (común) Fin definición de colores (fondo y letra) ----------------------------*/

