
/* //////////////
 Inicio cuerpo
//////////////*/

Body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .05rem;
}

head, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Yanone Kaffeesatz"; */
    color: rgb(0, 0, 0);
    font-family: 'Titillium Web', sans-serif; 
}

input, button, select {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }

/* //////////////
 Tablas
//////////////*/

.elementos_listado{
    color: grey;
    margin-bottom: 4vh;
    margin-left: 4vw;
}

.columna_datos{
  float: right;
}

/* /////////////////////
 Contenido
//////////////////////*/

.content-center {
  max-width: 800px;
  margin: 0 auto 0 auto;
  text-align: center;
}

section { padding: 120px 0; } /* El 0 al lado arregla todo, ver*/

.form-control {
  font-size: 14px;
  border: 1px solid #cacaca;
  padding: 15px;
  border-radius: 2px;
}

.form-control:focus {
  border: 1px solid var(--dark-color);
  outline: none;
  box-shadow: none;
}


/* CSS del index */


.info h2, h3{
  max-width: 100rem !important;
}

.lista-info{
  max-width: 27rem;

}

/*Boton de enviar*/
.btn {                 
  padding: .5rem 1.8rem;
  border-radius: .2rem;
  
}


.btn-secondary {        
  background-color: var(--dark);
}

/*Fin boton de enviar*/


@media (max-width: 1000px){
  .info{width: 100%;}
  .ingreso{width: 100%;}
}

/*Fin CSS del index */

/* CSS de database */

/*
.info_database{
  padding: 6rem;
}
*/

@media (max-width: 1000px){
  .info_database{width: 100%;}
  .ingreso_database{width: 100%;}
}

/*Fin CSS de database */

