
.table{
	width: 100%;
	border-collapse: collapse; /*se colapsan los bordes (estilo) */
}

.table td,.table th{
  padding: 12px 15px;
  text-align: center;
  font-size:20px;
  color: aliceblue; /*Color de letra*/
}

/*responsive*/

@media(max-width: 500px){
	.table, .table tbody, .table tr, .table td {display: block; width: 100%;}
	.table tr {margin-bottom:15px;}

	.table td {
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	} 
	.table td::before {
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}







