
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap'); 

/*--------------------------------- (común) Cuerpo y titulos en general ----------------------------------------------*/
body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .05rem;
    background-color: var(--dark) !important;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-weight: 500 !important;
    line-height: 1.5 !important;
}

@media (max-width: 575.98px) {
    #slider h3 {font-size: 1.2rem;}
    #slider p {font-size: 1.2rem;}
    footer {text-align: center;}
}

section {         /*común*/
    padding: 6rem 0;
}

.mt-6{                  
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.row{
    margin-right: 0;
}

/*--------------------------------- (común) Fin cuerpo y titulos en general -------------------------------------------*/

/*--------------------------------- (común) Comienzo barra de navegación ----------------------------------------------*/

.Titulo-nav{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0.20em;
    color: var(--white);
}

a {
    color: var(--light);
}

a:hover {
    color: var(--light);
    text-decoration: none;
}

.zorro-blanco{         /*(común) Imagen icono nav */
    height: 50px;
    padding-right: 1em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.navbar {                        /*(común)*/ 
    background-color: var(--dark);
    min-height: 5rem;
}

.nav-link {                      /*(común) Texto navegación*/
    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white);
}
.navbar-toggler:focus { outline: none; }   /*Para que no se vea el recuadro naranja cuando alguien le da click*/

.elemento-navbar:hover{                    /*(común) le da un delay a la coloración de las palabras de la barra de navegación*/
    color: #ff6600!important;
    font-weight: 500!important;
    transition:all .5s ease-in-out!important;
}

.ele-navbar:focus{
    color: #ff6600!important;
    font-weight: 500!important;
}

.desplegable-items{
    margin-left: 2rem;
}

/*--------------------------------- (común) Fin barra de navegación ----------------------------------------------*/



/*--------------------------------- (común) Definición de colores (fondo y letra) --------------------------------*/
:root {
    --dark:#1a1a1a;
    --white: #ffffff;
    --light-grey: #efefef;
    --primary-color: #3a4052;
}

.bg-light {                       /*Color de fondo blanco*/
    background-color: var(--white) !important;
}

.bg-light-grey {                 /*Color de fondo gris claro*/
    background-color: var(--light-grey);
}

.bg-dark {                      /*Color de fondo oscuro*/
    background-color: var(--dark) !important;
}

.bg-naranja{
    background-color: #ff6600;
}

.text-dark {
    color: var(--dark) !important;
}

.texto-naranja{
    color: #ff6600;
}

.texto-azul-oscuro{
    color: var(--primary-color)
}
/*---------------------------------- (común) Fin definición de colores (fondo y letra) ----------------------------*/



